apiVersion: v1
kind: Service
metadata:
  name: uptime-kuma-service
  labels:
    app: uptime-kuma
spec:
  selector:
    app: uptime-kuma
  ports:
  - port: 3001
    targetPort: 3001
    nodePort: 30081
    protocol: TCP
  type: NodePort